html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

@font-face {
    font-family: Garamond;
    src: url(text/Roboto-Thin.ttf);
}

.toast {
    font-family: Garamond;
}

#song {
    font-family: Garamond;
}

.form-check {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0.5rem;
}



@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }

}


@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateX(0);
    }

    40% {
        transform: translateX(-30px);
    }

    60% {
        transform: translateX(-15px);
    }
}



@keyframes show {
    0% {
        transform: rotateX(-90deg);
    }

    100% {
        transform: rotateY(0deg);
    }

}

html {
    overflow-x: hidden !important;
}



html p {
    margin: 0px
}

html img,
html span {
    animation: show 0.6s ease alternate;
}

#imageView {
    animation: show 0.6s ease alternate;
}

#imageView div {
    scroll-behavior: smooth !important;
}

#imageView img {
    animation: none;
}

#imageView .music-player {
    flex-direction: row;
    overflow-x: scroll;
    scroll-behavior: smooth !important;
    width: 100%;
    transition: transform .3s ease-out;
}

#imageView .musicImg {
    object-fit: cover;
    flex-shrink: 0;
}

#imageView .music-player p {
    display: none;
}

#imageView .music-info {
    display: none;
    align-items: center;
    margin: 1rem;
    overflow: scroll;
    width: 50%;
}

#imageView #colorOption {
    margin-left: auto;
}


#imageView #optionButtons {
    margin-top: 20px;
}





body {
    cursor: none;
    position: relative;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(black, rgb(59, 25, 59));
}



.cursor {
    position: absolute;
    width: 50px;
    /* Custom cursor image width */
    height: 50px;
    /* Custom cursor image height */
    background-image: url('img/circleCursorPointer.png');
    /* Replace with your image */
    background-size: contain;
    pointer-events: none;
    /* Prevent the cursor div from interfering with clicks */
    mix-blend-mode: difference;
    /* Apply blend mode */
    z-index: 9998;
    transition: transform 0.1s ease;
}




#clickCursor {
    display: none;
    position: absolute;
    width: 30px;
    /* Custom cursor image width */
    height: 30px;
    /* Custom cursor image height */
    background-image: url('img/click.gif');
    /* Replace with your image */
    background-size: cover;
    pointer-events: none;
    /* Prevent the cursor div from interfering with clicks */
    mix-blend-mode: difference;
    /* Apply blend mode */
    z-index: 9999;
    transition: transform 0.1s ease;
}

#penCursor {
    display: none;
    position: absolute;
    width: 60px;
    /* Custom cursor image width */
    height: 60px;
    /* Custom cursor image height */
    background-image: url('img/penGif.gif');
    /* Replace with your image */
    background-size: cover;
    pointer-events: none;
    /* Prevent the cursor div from interfering with clicks */
    mix-blend-mode: difference;
    /* Apply blend mode */
    z-index: 9999;
    transition: transform 0.1s ease;
}


* {
    cursor: none !important;
}


.cursor:hover {
    transform: scale(1.2);
}


html button {
    cursor: none !important;
}


.padraoBackground {
    opacity: 0;
    position: absolute;
    width: 100vw;
    height: 100%;
    z-index: -1;
}


.offcanvas-body p {
    font-size: x-large;
}

.offcanvas-title {
    font-size: x-large;
}




@media screen and (max-width: 800px) {
    .padraoBackground {
        opacity: 0;
        position: absolute;
        min-width: 800px;
        height: 100%;
        z-index: -1;

    }



    #exampleModalView .modal-content {
        height: 100% !important;

    }

    #exampleModalImagens .modal-content {
        height: 100% !important;
    }

    #exampleModalEdit .modal-content {
        height: 100% !important;
    }


   



}




@media screen and (max-width: 600px) {

    html {
        overflow-x: hidden !important;
    }


    .offcanvas-body p {
        font-size: xx-large;
    }

    .offcanvas-title {
        font-size: xx-large;
    }


    #music-player {
        width: 800px;
        /* height: 790px; */
        overflow: hidden;
        margin: 0px;

    }

    #music-player p {
        font-size: xx-large;

    }

    #buttonAcceptimg p {
        font-size: xx-large;

    }

    #music-info {
        width: 710px;
        height: 80px;
        text-overflow: ellipsis;
        word-wrap: break-word;
        word-wrap: now-rap;
        overflow: scroll;

    }


    #music-info h3 {
        font-size: xx-large;
    }

    #song {
        height: 700px;
        overflow-y: hidden;
    }

    #music-player img {
        width: 100%;
        /* width: 700px; */
        height: 400px;
        border-radius: 10px;
        object-fit: cover;
        /* object-fit: contain; */
        /* height: auto; */
        /* object-fit: contain; */
    }

    #music-player button img {

        object-fit: cover;
        width: 90px;
        height: 90px;
    }

    .volumeBar {
        width: 80px !important;
        height: 30px !important;
    }

    .volumeCircle img {
        width: 60px !important;
        height: 60px !important;
    }



    audio {
        margin-top: 40px;
        width: 60% !important;
        transform: scale(1.5);
    }


    #imageView #colorOption {
        margin-left: 20px;
    }

    #searchBar {
        font-size: xx-large !important;
    }

    .imgSearch img {
        width: 76px;
        height: 76px;

    }



}



@media screen and (max-width: 400px) {
    .offcanvas-body p {
        font-size: xx-large;
    }

    .offcanvas-title {
        font-size: xx-large;
    }

}



#carouselExampleFade {
    min-width: 800px;
}

/* #imgGojo {
    position: relative;
    display: flex;
    justify-content: center;
    overflow: hidden;
    min-width: 800px;
    margin-top: 50px;

} */

/* .imgGojo {
    position: relative;
    display: flex;
    justify-content: center;
    overflow: hidden;
    min-width: 800px;
    margin-top: 50px;
}

.imgGojo img {
    border-radius: 20px;
    width: 1280px;
    height: 720px;
    object-fit: scale-down;
}  */


.container-fluid {
    position: relative;
    display: inline-flex;
    justify-content: center;
    overflow: hidden;
    margin-top: 50px;
    border-radius: 20px;
}

.imgGojo {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-top: 50px;
    margin-bottom: 60px;
    border-radius: 50px;
    /* border: 6px solid rgba(0, 0, 0, 0.144); */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.753);
    /* clip-path: inset(1px 1px 1px 1px round 50px); */
}



.imgGojo img {
    border-radius: 20px;
    height: 85vh;
    max-height: 500px;
    width: 900px;
    min-width: 800px;
    /* max-width: 100vw; */
    object-fit: cover;
    clip-path: inset(1px 2px 1px 2px round 50px);

}

html img {
    transition: transform 1s ease;
    /* Use 'ease' or 'linear' for smooth transitions */
}

html img:hover {
    transform: scale(1.03);
}


.imgGojo img:hover {
    transform: scale(1);
}



input[type="text"] {
    transition: transform 0.1s ease;
    /* Smooth transition */
}


input[type="text"]:hover {
    transform: scale(1.01);
    /* Scale the input element */
}



.color-display {
    transition: transform 0.2s ease-out;
    /* Use 'ease' or 'linear' for smooth transitions */
}

.color-display:hover {
    transform: scale(1.1);
}






#exampleModal button {
    transition: transform 0.2s ease-out;
    /* Use 'ease' or 'linear' for smooth transitions */
}

#exampleModal button:hover {
    transform: scale(1.1);
}






.carousel-control-prev-icon {
    transition: transform 0.2s ease-out;
}

.carousel-control-prev-icon:hover {
    transform: scale(1.3);
}



.carousel-control-next-icon {
    transition: transform 0.2s ease-out;
}

.carousel-control-next-icon:hover {
    transform: scale(1.3);
}



#text1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Garamond;
    text-align: center;
    margin-top: 60px;
    color: rgb(228, 221, 221);
    background-color: black;
    border-radius: 50px;
    max-width: 1200px;
    min-width: 800px;
    -webkit-box-shadow: 0px 3px 11px 13px rgba(0, 0, 0, 0.65);
    -moz-box-shadow: 0px 3px 11px 13px rgba(0, 0, 0, 0.65);
    box-shadow: 0px 3px 11px 13px rgba(0, 0, 0, 0.65);
}

#text1 h1 {
    font-size: 200px;
}

#text1 p {
    font-size: 50px;
}

#line {
    width: 100%;
}


.offcanvas-backdrop {
    min-width: 800px;
    max-width: 100vw;
    position: fixed;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1040;
    background-color: #000;
}

#offCanvasButton:hover {
    animation: bounce 1s ease;
}

#configButton:hover {
    animation: bounce 1s ease;
}


#offCanvasButton img {
    transform: scale(1);
}

#configButton img {
    transform: scale(1);
}



#configButton {
    mix-blend-mode: difference;
    margin-left: auto;
}

#offCanvasButton {
    margin: 2rem;
    mix-blend-mode: difference;
}

#buttonCarousel1 {

    mix-blend-mode: difference;
}

#buttonCarousel2 {

    mix-blend-mode: difference;
}

html .carousel-control-next,
.carousel-control-prev {
    position: absolute;
    top: inherit;
    bottom: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
    padding: 0;
    color: #fff;
    text-align: center;
    background: 0 0;
    border: 0;
    opacity: inherit;
    transition: none;
}

html .carousel-control-prev {
    position: absolute;
    top: inherit;
    bottom: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
    padding: 0;
    color: #fff;
    text-align: center;
    background: 0 0;
    border: 0;
    opacity: inherit;
    transition: none;
}


header {
    display: flex;
    min-width: 800px;
    max-width: 100vw;
    transition: all 0.5s ease-in-out; /* Add smooth transition */
}



#song {
    position: relative;
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    /* Enable horizontal scrolling */
    scroll-behavior: smooth;
    margin-top: 60px;
    min-width: 800px;
    max-width: 100vw;
    backdrop-filter: brightness(0.5);
    /* background-color: rgb(159 128 128 / 59%);
    mix-blend-mode: difference; */
    /* Semi-transparent background */
    /* backdrop-filter: blur(10px); */
    /* Apply blur effect to background */
    /* -webkit-backdrop-filter: blur(10px); */
    /* Safari support */
}

#song::-webkit-scrollbar {
    display: flex;
    height: 8px;

    /* Set the height for horizontal scrollbar */
}

#song::-webkit-scrollbar-track {
    background: #ff000000;
    mix-blend-mode: difference;
    /* Track color */
}

#song::-webkit-scrollbar-thumb {
    background: #ffffff36;

    /* Scrollbar thumb color */
    border-radius: 4px;
}

#song::-webkit-scrollbar-thumb:hover {
    background: #555;
    /* Darker thumb when hovered */
}

html ::-webkit-scrollbar {
    display: none;
}


.music-player {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    background-color: transparent;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /* width: 350px;
    height: 390px; */
    padding: 20px;
    text-align: center;
    overflow: hidden;
    text-overflow: clip;
    margin: 1rem;
}

.musicImg {
    /* width: 100%; */
    width: 350px;
    height: 200px;
    border-radius: 10px;
    object-fit: cover;
    /* mix-blend-mode: difference; */
    /* object-fit: contain; */
    /* object-fit: scale-down; */
    /* height: auto; */
    /* object-fit: contain; */
}

.music-info {
    width: 310px;
    /* width: 100%; */
    height: 65px;
    margin-top: 15px;
    text-overflow: ellipsis;
    word-wrap: break-word;
    word-wrap: now-rap;
    overflow: scroll;
    mix-blend-mode: difference;

}

.music-info h3 {
    font-size: 18px;
    margin: 0;
    font-weight: 100;
    color: #ffffff;
}

#artist {
    color: #e9e3e3;
    font-size: 14px;
    margin-top: 5px;
    mix-blend-mode: difference;
}

.audioLength {
    display: none;
    width: 100%;
    height: 20px;
    border-radius: 20px;
    background-color: #45473d;
}


.audio-player {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 5px;
    width: 100%;
    /* mix-blend-mode: difference; */
}

.audio-player button {
    transition: transform 0.2s ease-out;
    /* Use 'ease' or 'linear' for smooth transitions */
}

.audio-player button:hover {
    transform: scale(1.1);
}

.btnPlay {

    mix-blend-mode: difference !important;
}

.btnPause {
    display: none;
    mix-blend-mode: difference !important;
}



.btnVolume {
    mix-blend-mode: difference !important;
}

.btnMutado {
    display: none;
    mix-blend-mode: difference !important;
}

.btnRight {
    display: flex;
    mix-blend-mode: difference !important;
    transition: all 3s ease-in-out;
}

.btnLeft {
    display: flex;
    mix-blend-mode: difference !important;
    transition: all 3s ease-in-out;
}

.btnShuffle {
    display: flex;
    mix-blend-mode: difference !important;
    transition: all 3s ease-in-out;
}

#buttonsShuffle{
    display: block;
    transition: all 3s ease-in-out;
}

.btnOptions {
    background-color: #fbfdfd1f !important;
}

audio {
    width: 100%;
    border-radius: 10px;
}

/*
AGORA ESTÁ EXPLICADO AQUELAS VARIÁVEIS SAARS,EU PEGUEI ESSE MODELO PELO DEVTOOLS DO CHORME E COLEI AQUI
E FUNCIONA COM TODAS AS CONFIGURAÇÕES PORÉM POSSO MEXER NELAS */

.modalRef {
    --bs-modal-zindex: 1055;
    --bs-modal-width: 500px;
    --bs-modal-padding: 0;
    --bs-modal-margin: 0;
    --bs-modal-color: ;
    --bs-modal-bg: var(--bs-body-bg);
    --bs-modal-border-color: var(--bs-border-color-translucent);
    --bs-modal-border-width: var(--bs-border-width);
    --bs-modal-border-radius: var(--bs-border-radius-lg);
    --bs-modal-box-shadow: var(--bs-box-shadow-sm);
    --bs-modal-inner-border-radius: calc(var(--bs-border-radius-lg) -(var(--bs-border-width)));
    --bs-modal-header-padding-x: 1rem;
    --bs-modal-header-padding-y: 1rem;
    --bs-modal-header-padding: 1rem 1rem;
    --bs-modal-header-border-color: var(--bs-border-color);
    --bs-modal-header-border-width: var(--bs-border-width);
    --bs-modal-title-line-height: 1.5;
    --bs-modal-footer-gap: 0.5rem;
    --bs-modal-footer-bg: ;
    --bs-modal-footer-border-color: var(--bs-border-color);
    --bs-modal-footer-border-width: var(--bs-border-width);
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--bs-modal-zindex);
    display: none;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    outline: 0;
}




html .modal {
    --bs-modal-zindex: 1055;
    --bs-modal-width: 500px;
    --bs-modal-padding: 1rem;
    --bs-modal-margin: 0px;
    --bs-modal-color: ;
    --bs-modal-bg: var(--bs-body-bg);
    --bs-modal-border-color: var(--bs-border-color-translucent);
    --bs-modal-border-width: var(--bs-border-width);
    --bs-modal-border-radius: var(--bs-border-radius-lg);
    --bs-modal-box-shadow: var(--bs-box-shadow-sm);
    --bs-modal-inner-border-radius: calc(var(--bs-border-radius-lg) -(var(--bs-border-width)));
    --bs-modal-header-padding-x: 1rem;
    --bs-modal-header-padding-y: 1rem;
    --bs-modal-header-padding: 1rem 1rem;
    --bs-modal-header-border-color: var(--bs-border-color);
    --bs-modal-header-border-width: var(--bs-border-width);
    --bs-modal-title-line-height: 1.5;
    --bs-modal-footer-gap: 0.5rem;
    --bs-modal-footer-bg: ;
    --bs-modal-footer-border-color: var(--bs-border-color);
    --bs-modal-footer-border-width: var(--bs-border-width);
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--bs-modal-zindex);
    display: none;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    outline: 0;
}


#exampleModalImagens .modal-header {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    padding: var(--bs-modal-header-padding);
    border-bottom: 0px solid var(--bs-modal-header-border-color);
    border-top-left-radius: 0px solidvar(--bs-modal-inner-border-radius);
    border-top-right-radius: 0px solid var(--bs-modal-inner-border-radius);
}



#exampleModalImagens .modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    color: var(--bs-modal-color);
    pointer-events: auto;
    background-color: var(--bs-modal-bg);
    background-clip: padding-box;
    border: 5px solid var(--bs-modal-border-color);
    border-radius: 20px;
    outline: 0;
    background-color: rgba(0, 0, 0, 0.01);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    height: 98vh;
    overflow: scroll;
    scroll-behavior: smooth;
}

#exampleModalImagens .modal-footer {
    display: flex;
    flex-shrink: 0;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    padding: calc(var(--bs-modal-padding) - var(--bs-modal-footer-gap)* .5);
    background-color: var(--bs-modal-footer-bg);
    border-top: none;
    border-bottom-right-radius: none;
    border-bottom-left-radius: none;
}






#exampleModalView .modal-header {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    padding: var(--bs-modal-header-padding);
    border-bottom: 0px solid var(--bs-modal-header-border-color);
    border-top-left-radius: 0px solidvar(--bs-modal-inner-border-radius);
    border-top-right-radius: 0px solid var(--bs-modal-inner-border-radius);
}



#exampleModalView .modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    color: var(--bs-modal-color);
    pointer-events: auto;
    background-color: var(--bs-modal-bg);
    background-clip: padding-box;
    border: 5px solid var(--bs-modal-border-color);
    border-radius: 20px;
    outline: 0;
    background-color: rgba(0, 0, 0, 0.01);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    height: 98vh;
    overflow: scroll;
    scroll-behavior: smooth;
}

#exampleModalView .modal-footer {
    display: flex;
    flex-shrink: 0;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    padding: calc(var(--bs-modal-padding) - var(--bs-modal-footer-gap)* .5);
    background-color: var(--bs-modal-footer-bg);
    border-top: none;
    border-bottom-right-radius: none;
    border-bottom-left-radius: none;
}

#exampleModalView .music-player {
    box-shadow: 0px 2px 13px -3px rgba(0, 0, 0, 1);
    margin: 1rem;
    border: 10px solid transparent;
}


#exampleModalView .modal-dialog {
    max-width: 100%;
}





#exampleModal .modal-header {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    padding: var(--bs-modal-header-padding);
    border-bottom: 0px solid var(--bs-modal-header-border-color);
    border-top-left-radius: 0px solidvar(--bs-modal-inner-border-radius);
    border-top-right-radius: 0px solid var(--bs-modal-inner-border-radius);
}



#exampleModal .modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    color: var(--bs-modal-color);
    pointer-events: auto;
    background-color: var(--bs-modal-bg);
    background-clip: padding-box;
    border: 5px solid var(--bs-modal-border-color);
    border-radius: 20px;
    outline: 0;
    background-color: rgba(0, 0, 0, 0.01);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    scroll-behavior: smooth;
}

#exampleModal .modal-footer {
    display: flex;
    flex-shrink: 0;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    padding: calc(var(--bs-modal-padding) - var(--bs-modal-footer-gap)* .5);
    background-color: var(--bs-modal-footer-bg);
    border-top: none;
    border-bottom-right-radius: none;
    border-bottom-left-radius: none;
}









#exampleModalEdit .modal-header {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    padding: var(--bs-modal-header-padding);
    border-bottom: 0px solid var(--bs-modal-header-border-color);
    border-top-left-radius: 0px solidvar(--bs-modal-inner-border-radius);
    border-top-right-radius: 0px solid var(--bs-modal-inner-border-radius);
}



#exampleModalEdit .modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    color: var(--bs-modal-color);
    pointer-events: auto;
    background-color: var(--bs-modal-bg);
    background-clip: padding-box;
    border: 5px solid var(--bs-modal-border-color);
    border-radius: 20px;
    outline: 0;
    background-color: rgba(0, 0, 0, 0.01);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    height: 98vh;
    overflow: scroll;
    scroll-behavior: smooth;
}

#exampleModalEdit .modal-footer {
    display: flex;
    flex-shrink: 0;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    padding: calc(var(--bs-modal-padding) - var(--bs-modal-footer-gap)* .5);
    background-color: var(--bs-modal-footer-bg);
    border-top: none;
    border-bottom-right-radius: none;
    border-bottom-left-radius: none;
}





#toatsAlert .toast {
    --bs-toast-zindex: 1090;
    --bs-toast-padding-x: 0.75rem;
    --bs-toast-padding-y: 0.5rem;
    --bs-toast-spacing: 1.5rem;
    --bs-toast-max-width: 350px;
    --bs-toast-font-size: 0.875rem;
    --bs-toast-color: ;
    --bs-toast-bg: rgba(var(--bs-body-bg-rgb), 0.85);
    --bs-toast-border-width: 0px;
    --bs-toast-border-color: var(--bs-border-color-translucent);
    --bs-toast-border-radius: var(--bs-border-radius);
    --bs-toast-box-shadow: var(--bs-box-shadow);
    --bs-toast-header-color: var(--bs-secondary-color);
    --bs-toast-header-bg: rgba(var(--bs-body-bg-rgb), 0.85);
    --bs-toast-header-border-color: var(--bs-border-color-translucent);
    width: var(--bs-toast-max-width);
    max-width: 100%;
    font-size: var(--bs-toast-font-size);
    color: var(--bs-toast-color);
    pointer-events: auto;
    background-color: var(--bs-toast-bg);
    background-clip: padding-box;
    border: var(--bs-toast-border-width) solid var(--bs-toast-border-color);
    box-shadow: var(--bs-toast-box-shadow);
    border-radius: var(--bs-toast-border-radius);
}





/* AGORA ESTÁ EXPLICADO AQUELAS VARIÁVEIS SAARS,EU PEGUEI ESSE MODELO PELO DEVTOOLS DO CHORME E COLEI AQUI
E FUNCIONA COM TODAS AS CONFIGURAÇÕES PORÉM POSSO MEXER NELAS  */


.modal-dialog {
    min-width: 800px;
    margin: 0;
    padding: 10px;
}

.modal-backdrop {
    min-width: 800px;
    min-height: 100%;
}

.itemAdd {
    display: flex;
    flex-direction: row;
    margin: 1rem;
}


#image-preview {
    width: 100%;
    height: 100%;
    object-fit: cover !important;
    border-radius: 20px !important;
    -webkit-box-shadow: 0px 2px 13px -3px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 2px 13px -3px rgba(0, 0, 0, 1);
    box-shadow: 0px 2px 13px -3px rgba(0, 0, 0, 1);
}

#image-previewEdit {
    width: 100%;
    height: 100%;
    object-fit: cover !important;
    border-radius: 20px !important;
}

#preview-container {
    padding: 0;
}

#name {
    border-radius: 20px;
    -webkit-box-shadow: 0px 2px 13px -3px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 2px 13px -3px rgba(0, 0, 0, 1);
    box-shadow: 0px 2px 13px -3px rgba(0, 0, 0, 1);
}



#nameEdit {
    border-radius: 20px;
    -webkit-box-shadow: 0px 2px 13px -3px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 2px 13px -3px rgba(0, 0, 0, 1);
    box-shadow: 0px 2px 13px -3px rgba(0, 0, 0, 1);
}


#buttonAcceptimg {
    -webkit-box-shadow: 0px 2px 13px -3px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 2px 13px -3px rgba(0, 0, 0, 1);
    box-shadow: 0px 2px 13px -3px rgba(0, 0, 0, 1);
}

#buttonAcceptEdit {
    -webkit-box-shadow: 0px 2px 13px -3px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 2px 13px -3px rgba(0, 0, 0, 1);
    box-shadow: 0px 2px 13px -3px rgba(0, 0, 0, 1);
}



.color-display {
    width: 100px;
    height: 100px;
    margin-top: 20px;
    border-radius: 30px;
    -webkit-box-shadow: 0px 2px 13px 0px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 2px 13px 0px rgba(0, 0, 0, 1);
    box-shadow: 0px 2px 13px 0px rgba(0, 0, 0, 1);
}


#colorOption {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

#optionButtons {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

#imageView {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}



.pcr-app[data-theme=classic] {
    max-width: 100%;
    padding: .8em;
    width: 100%;
    cursor: none !important;
}


.pcr-app {
    position: unset;
    display: none;
    flex-direction: column;
    z-index: 10000;
    background: #fff;
    opacity: 0;
    visibility: hidden;
    transition: opacity .3s, visibility 0s .3s;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif;
    box-shadow: 0 .15em 1.5em 0 rgba(0, 0, 0, .1), 0 0 1em 0 rgba(0, 0, 0, .03);
    left: 0;
    top: 0;
    border-radius: 20px;
    cursor: none !important;

}


.pcr-hue {
    cursor: none !important;
}

.pcr-slider {
    cursor: none !important;
}

html .cropper-container {
    height: 0px !important;
}


.imgGojo::after {
    pointer-events: none;
}



.stats {
    display: none;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 53px;
    background-color: #ffffff00;
    z-index: 1;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
}


.statsTitle {
    color: rgb(255 255 255);
    display: none;
    font-family: Garamond;
    mix-blend-mode: difference;
    position: absolute;
    z-index: 1;
    font-weight: bold;
}


.file-upload-button {
    cursor: none !important;
}

html {
    cursor: none !important;
}

html label,
html input {
    cursor: none !important;
}



.pcr-palette {
    cursor: none;
}




.backgroundGif {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #d0ff00;
    /* Blue background to blend with */
}




/* Apply custom cursor only within the cropper container */
.cropper-container,
.cropper-view-box,
.cropper-face {
    cursor: crosshair !important;
}


.musicImgOffCan {
    display: flex;
    margin: 10px;
    mix-blend-mode: difference;
}

#musicOffCan {
    display: flex;
    flex-direction: column;
}

.offcanvas-header {
    backdrop-filter: blur(20px);
}

.offcanvas {
    mix-blend-mode: difference;
}

.offcanvas-backdrop.show {
    opacity: .2 !important;
}



/* @keyframes gradientAnimation {
    0% {
      background: linear-gradient(45deg, #ff7e5f, #feb47b);
    }

    100% {
      background: linear-gradient(50deg, #0308ff, #00ece1);
    }
  } */
/* body {
    background-color: #FF0;
}

body:hover {
    background-color: #AD310B;

    transition: background-color 1000ms linear;
} */


@media screen and (max-width: 825px) {
    .imgGojo img {
        clip-path: inset(3px 14px 3px 14px round 50px);
    }
}

html {
    min-width: 800px !important;
    overflow-x: hidden !important;
}

.searchDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.imgSearch {
    backdrop-filter: brightness(0.5);
    border-radius: 10px;
}

#searchBar {
    border-radius: 10px;
    color: #e9e3e3;
    font-family: 'Garamond';
    backdrop-filter: brightness(0.5);
    margin-left: 10px;
}


.volumeBar {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 10px;
    background-color: #ffffff;
    border-radius: 20px;

}

.volumeCircle {
    position: absolute;
    transition: all 0.1s ease;
    pointer-events: all;
    user-select: none;
}

/* Circle appearance */
.volumeCircle img {
    width: 30px;
    height: 30px;
}

.volumeCircle img {
    pointer-events: none;
}



#musicBar {
    position: fixed;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 140px;
    background-color: #e9e3e346;
    top: 0;
    left: 0;
    z-index: 100;
    backdrop-filter: brightness(0.5);
    transition: all 0.5s ease-in-out; /* Add smooth transition */
}

.musicBarImg {
    border-radius: 10px;
    object-fit: cover;
    width: 200px;
    height: 100px;
    margin: 1rem;
    flex-shrink: 0;
    transition: all 0.5s ease-in-out; /* Add smooth transition */
     
}

#btnMusicBarExpand{
    margin-left: auto;
    margin-bottom: 3px;
    margin-right: 16px;
    margin-left: 16px;
      
}

.musicBarAudioTrack{
    position: relative;
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
    height: 10px;
    background-color: #ffffff;
    border-radius: 20px;
}


@keyframes fadeInCircleMusicBar {
    0% {
      opacity: 0; /* Start with invisible */
    }
    
    50% {
        opacity: 0;
    }

    80%{
        opacity: 0;
    }

    90%{
        opacity: 0.2;
    }

    100% {
      opacity: 1; /* End with fully visible */
    }
  }
 
.opacity{
    animation: fadeInCircleMusicBar 1s ease-in
}


 

.musicBarCircle {
    position: absolute;
    transition: all 0.1s ease;
    pointer-events: all;
}

/* Circle appearance */
.musicBarCircle img {
    width: 30px;
    height: 30px;
}

.musicBarCircle img {
    pointer-events: none;
}

.volumeMusicBar{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 10px;
    background-color: #ffffff;
    border-radius: 20px;
}





